{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ settings.APP_NAME }}
{% endblock %}
{% block content %}
<section class="products">
  <div class="left-chapters">
    <ul id="leftchapters">
    {% if cat_selected == 0 %}
        <li class="selected">All categories</li>
    {% else %}
        <li><a href="{% url 'market:product_list' %}">All categories</a></li>
    {% endif %}

    {% for category in categories %}
        {% if category.pk == cat_selected %}
            <li class="selected">{{ category.title }}</li>
        {% else %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div class="product-list">
      {% for product in product_list %}
          <a href="{{ product.get_absolute_url }}" class="product">
            <div class="product-img">
                {% if product.picture %}
                    <img src="{{ product.picture.url }}" alt="Listing #{{ product.pk }}">
                {% endif %}
            </div>
            <h3>{{ product.name }}</h3>
            <p>{{ product.text|linebreaks|truncatewords:40 }}</p>
            <p class="price">${{ product.price }}</p>
          </a>
      {% endfor %}
    </div>
</section>>
{% endblock %}