{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ settings.APP_NAME }}
{% endblock %}
{% block content %}
<section class="products">
  <div class="filter">
    <h2>Filter Products</h2>
    <div class="dropdown">
      <select>
        <option value="" disabled selected>Choose a category</option>
          <option value="0">All</option>
          {% for category in categories %}
            <option value="{{ category.pk }}">{{ category.title }}</option>
          {% endfor %}
      </select>
        <div class="arrow-down"></div>
    </div>
  </div>
  <div class="product-list">
      {% for product in product_list %}
          <a href="{{ product.get_absolute_url }}" class="product">
            <div class="product-img">
                {% if product.picture %}
                    <img src="{{ product.picture.url }}" alt="Listing #{{ product.pk }}">
                {% endif %}
            </div>
            <h3>{{ product.name }}</h3>
            <p>{{ product.text }}</p>
            <p class="price">${{ product.price }}</p>
          </a>
      {% endfor %}
    </div>
</section>>
{% endblock %}