{% extends 'navbar/navbar.html' %}
{% load static %}
{% block title %}
    Current product
{% endblock %}
{% block content %}
<section class="products">
  <div class="filter">
    <h2>Filter Products</h2>
    <div class="sort">
      <h3>Sort by:</h3>
      <button class="active" data-sort="rating">Rating</button>
      <button data-sort="price">Price</button>
      <button data-sort="date">Date</button>
    </div>
    <div class="category">
      <h3>Category:</h3>
      <select>
        <option value="all">All</option>
        <option value="electronics">Electronics</option>
        <option value="clothing">Clothing</option>
        <option value="books">Books</option>
      </select>
    </div>
  </div>
  <div class="product-list">
      {% for product in product_list %}
          <a href="{{ product.get_absolute_url }}" class="product">
            <div class="product-img">
                {% if product.picture %}
                    <img src="{{ product.picture.url }}" alt="Listing #{{ product.pk }}">
                {% endif %}
            </div>
            <h3>{{ product.name }}</h3>
            <p>{{ product.text }}</p>
            <p class="price">${{ product.price }}</p>
          </a>
      {% endfor %}
    </div>
</section>>
{% endblock %}