{% extends 'base.html' %}
{% block content %}
      <div class="owner-product-list">
          <div class="owner-product-container">
              <a href="{% url 'market:product_create' %}" class="owner-product-button" style="width: 100%">
                  <p>Create new</p>
              </a>
          </div>
      {% for product in product_list %}
          <div class="owner-product-container">
              <a href="{{ product.get_absolute_url }}" class="owner-product">
                <div class="product-img">
                    {% if product.picture %}
                        <img src="{{ product.picture.url }}" alt="Listing #{{ product.pk }}">
                    {% endif %}
                </div>
                <div class="product-description">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.text|truncatewords:15 }}</p>
                </div>
              </a>
              <a href="{% url 'market:product_update' product.pk %}" class="owner-product-button">
                  <div>
                    <b>Edit</b>
                  </div>
              </a>
          </div>
      {% endfor %}
    </div>
{% endblock %}