{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="go-back">
        <input class="back-btn" type=button value="Go back" onClick="javascript:history.go(-1);">
    </div>
    <div class="product-detail">
    {% if product.picture %}
        <div class="product-image">
            {% if product.picture %}
                <img src="{{ product.picture.url }}" alt="Product">
            {% endif %}
        </div>
    {% endif %}
      <div class="product-info">
        <h1>{{ product.name }}</h1>
        <p>{{ product.text|linebreaks }}</p>
        <p class="price">${{ product.price }}</p>
        <p>{{ product.category }}</p>

          {% if user.is_authenticated %}
              {% if not product.owner == user %}
                  <a href="{% url 'market:product_reserve' product.slug%}"><button type="submit">Reserve this product</button></a>
              {% else %}
                  <div>
                  <a href="{% url 'market:product_update' product.slug %}"><img class="tool-ico" src="{% static 'market/images/266146.png' %}" alt="update"></a>
                  <a href="{% url 'market:product_delete' product.slug %}"><img class="tool-ico" src="{% static 'market/images/542724.png' %}" alt="delete"></a>
                  </div>
              {% endif %}
          {% endif %}
      </div>
    </div>
{% endblock %}