{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div style="width: 40%; margin: auto">
        {% if product.name %}
            <h1 class=>Update {{ product.name }}</h1>
        {% else %}
            <h1>Create listing</h1>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Submit">Save</button>
            {% if not object.get_absolute_url %}
                <button type="submit" value="Cancel" onclick="window.location.href='{% url 'market:owner_list' %}';return false;">Cancel</button>
            {% else %}
                <button type="submit" value="Cancel" onclick="window.location.href='{{ object.get_absolute_url }}';return false;">Cancel</button>
            {% endif %}
        </form>
    </div>
{% endblock %}